#profileCard {
  width: 695;
  padding: 10px;
  border: 15px solid black;
  margin: 15px;
  background-color: black;
}
.name {
  font-size: 100px;
  font-weight: 60px;
  text-align: center;
}
.bio {
  font-size: 60px;
  color: red;
  text-align: center;
}
img {
  width: 80px;
  border-radius: 5px;
}
#profileCard:hover {
  background-color: red;
}
